<!-- <div id=tarjeta type="button" (click)="verProducto(index)" -->
<div id=tarjeta type="button" (click)="verProducto(prodTarjeta.id)"
class="card animated fadeIn fast shadow ">

  <img src="{{prodTarjeta.imgPortada}}" class="card-img-top" alt="{{prodTarjeta.nombre}}">

  <div class="card-body interli-tarjeta">
    <h5 class="card-title">{{prodTarjeta.nombre}}</h5>

    <p id="reputacion-tarjeta">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <small id="reputacion-text"> Producto solicitado</small>
    </p>

    <p class="card-text">{{prodTarjeta.descCorta}}</p>

    <div class="container row">

      <h5 *ngIf="prodTarjeta.moneda=='peso'" class="text-primary" > <b> $ {{prodTarjeta.precio}} </b> </h5>
      <h5 *ngIf="prodTarjeta.moneda=='dolar'" class="text-primary"> <b> U$S {{prodTarjeta.precio}} </b> </h5>
      <h6 id="espacio-tarj">...</h6>
      <h6 class="text-muted"> <del><small> $ {{ (prodTarjeta.precio / ( 1 - (prodTarjeta.descuento/100) )).toFixed(2) }} </small></del> </h6>
      <h6 id="espacio-tarj">.</h6>
      <h6 id="descuento-text"> <small> {{prodTarjeta.descuento}}% OFF </small> </h6>

    </div>

    <p class="card-text"><small class="text-muted">{{prodTarjeta.temporada}}</small></p>

    <!-- <button (click)="verProducto(index)"
      type="button" class="btn btn-outline-primary btn-block">Ver mas...</button> -->

    <!-- <a [routerLink]="['/productPage',i]" class="btn btn-outline-primary btn-block">Ver mas Link...</a> -->
  </div>

  <div class="card-footer text-center">
    <small class="text-muted">{{prodTarjeta.temporada}}</small>
  </div>

</div>
