<!-- <div id=tarjeta type="button" (click)="verProducto(index)" -->
<div id=tarjeta type="button" (click)="verProducto(prodTarjeta.id)"
class="card animated fadeIn fast shadow p-3 mb-5 rounded">

  <img src="{{prodTarjeta.imgPortada}}" class="card-img-top" alt="{{prodTarjeta.nombre}}">

  <div class="card-body">
    <h5 class="card-title">{{prodTarjeta.nombre}}</h5>
    <p class="card-text">{{prodTarjeta.descCorta}}</p>

    <h5 *ngIf="prodTarjeta.moneda=='peso'" class="text-primary">$ {{prodTarjeta.precio}}</h5>
    <h5 *ngIf="prodTarjeta.moneda=='dolar'" class="text-primary">U$S {{prodTarjeta.precio}}</h5>

    <p class="card-text"><small class="text-muted">{{prodTarjeta.temporada}}</small></p>

    <!-- <button (click)="verProducto(index)"
      type="button" class="btn btn-outline-primary btn-block">Ver mas...</button> -->

    <!-- <a [routerLink]="['/productPage',i]" class="btn btn-outline-primary btn-block">Ver mas Link...</a> -->
  </div>

</div>
