<div class="container main-container">

  <div class="row titulo animated fadeIn fast">
    <div class="col-md-2">
      <a class="align-left btn btn-danger btn-block text-white fas fa-arrow-left"
        (click)="volverProducto(product.id)"> Regresar</a>
    </div>
  </div>

  <p></p>

  <div class="row animated fadeIn fast shadow p-3 mb-5 bg-white rounded">
    <div class="container">
      <h6> Avancemos con la compra!</h6>
      <hr>
    </div>

    <div class="col-md-5">

      <div class="row">
        <div class="col-md-4">
          <img id=buy-image src="{{product.imgPortada}}" class="img-fluid" alt="{{product.descCorta}}">
        </div>

        <div class="col-md-8">
          <div id=descr-buyProd>
            <h5>{{product.nombre}} </h5>
            <small><p>{{product.temporada}}</p></small>
          </div>
          <p>{{product.descCorta}}</p>
        </div>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <td>Cantidad</td>
              <td>{{cantidad}}</td>
            </tr>
            <tr>
              <td>Talle</td>
              <td>{{talle}}</td>
            </tr>
            <tr>
              <td>Color</td>
              <td>{{color}}</td>
            </tr>
            <a class="btn btn-primary text-white fas fa-edit" style="float: right;"
              (click)="volverProducto(product.id)"> Modificar selección</a>
          </table>
        </div>


        <div class="container text-success text-center">
          <h5 *ngIf="product.moneda=='peso'" >TOTAL : <small>{{product.nombre}} X {{cantidad}} :</small> $  {{total}}</h5>
          <h5 *ngIf="product.moneda=='dolar'">TOTAL : <small>{{product.nombre}} X {{cantidad}} :</small> U$S{{total}}</h5>
        </div>

      </div>

    </div>

    <div class="col-md-7 verticalLine">

      <div id=tarjeta class="card animated fadeIn fast rounded">

        <div class="card-body" >
          <h6 class="card-title">El próximo paso es ponernos en contacto para validar stock y pactar el envío. Comunicate!:</h6>
          <!-- <p class="card-text">{{prodTarjeta.descCorta}}</p> -->

          <div class="row">

              <div id=descr-buyProd class="text-center col-md-6">
                <br><br>
                <!-- <img src="assets/img/icons/mail2.png" class="w-25" alt="..."> -->
                <a href={{buyWhatsappURL}}>
                  <img src="assets/img/redes/whatsapp.png" class="w-25" alt="...">
                  <br><br>
                  <h5 class="font-weight-bold">Whatsapp</h5>
                  <p>Hacé click!</p>
                </a>
                <!-- <h6 class="font-weight-bold">pau_moru@hotmail.com</h6> -->
                <br><br>
              </div>

            <div id=descr-buyProd class="text-center col-md-6">
              <br><br>
              <img src="assets/img/icons/phone2.png" class="w-25" alt="...">
              <br><br>
              <h5 class="font-weight-bold">Teléfono</h5>
              <p>Cel: 1167418722</p>
              <!-- <h6 class="font-weight-bold">Cel: 1167418722</h6> -->
              <br><br>
            </div>

          </div>

          <hr>
          <hr>

          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1 far fa-credit-card fa-2x"></div>
            <div class="col-md-9">
              <h6 class="card-title">El pago podrás hacerlo en efectivo al momento de la entrega o también mediante transferencia bancaria.</h6>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1 fas fa-shipping-fast fa-2x"></div>
            <div class="col-md-9">
              <h6 class="card-title">Consultá tambien por envíos a domicilio</h6>
            </div>
          </div>



        </div>


      </div>

    </div>

  </div>

</div>
