<!-- <div id=fondo-prods class="row">
  <img id=img-prods src="assets/img/fondos/fondo-prods.jpg" alt="">
</div> -->
<div class="">

  <div class="container main-container">

    <h3 class="titulo">Productos</h3>
    <hr>
<!-- 
    <div id=boton-wapp class="btn-whatsapp fixed-bottom">
      <a href="https://api.whatsapp.com/send?phone=5491167418722&text=Hola!%20Me%20interesan%20los%20productos!" target="_blank">
        <img class="float-right" src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
      </a>
    </div> -->

    <div class="card-columns">

      <app-tarjetaProducto
        [prodTarjeta]="product"
        [index]="i"
        *ngFor="let product of products ; let i = index">
      </app-tarjetaProducto>

    </div>

  </div>

</div>
