<!-- <div id=fondo-prods class="row">
  <img id=img-prods src="assets/img/fondos/fondo-prods.jpg" alt="">
</div> -->

<div class="">

    <div class="jumbotron titulo">
      <div id=tituProd>
        <h1 class="display-4">Productos</h1>
        <!-- <p class="lead">Esta es nuestra oferta, no dudes en consultarnos.</p> -->
        <hr class="my-4">
      </div>
    </div>

    <!-- <div class="row"> -->
    <div class="main-continer container">

      <!-- <div id=filtros class="col-md-2">
        <app-filterNav></app-filterNav>
      </div> -->

      <!-- <div class="col-md-8"> -->

        <div class="container main-container">
          <h6>{{products.length}} productos encontrados</h6>
          <hr>
        </div>

        <div class="card-columns">
            <app-tarjetaProducto
            [prodTarjeta]="product"
            [index]="i"
            *ngFor="let product of products ; let i = index">
          </app-tarjetaProducto>
        </div>
      </div>

      <!-- <div class="col-md-1"></div> -->

    <!-- </div> -->

</div>
