<!-- <div class="bg-secondary container main-container"> -->
<div class="">

  <div id=mapa class="row">
    <img id=img-mapa src="assets/img/varios/imagenMaps.jpg" alt="">
  </div>

  <h2 class="text-center font-weight-bold">CONTACTANOS</h2>

  <div id=barra-contacto class="text-white bg-dark margen-sup row animated fadeIn fast">

    <div class="col-md-2"></div>

    <div class="text-center col-md-2">
      <br><br>
      <img src="assets/img/icons/location2.png" class="w-25" alt="...">
      <br><br>
      <h5 class="font-weight-bold">UBICACIÓN</h5>
      <p>Podes retirar personalmente el producto o bien se puede pactar el envío.</p>
      <h6 class="font-weight-bold">C.A.B.A Y G.C.B.A</h6>
      <br><br>
    </div>

    <div class="col-md-1"></div>

    <div class="text-center col-md-2">
      <br><br>
      <img src="assets/img/icons/phone2.png" class="w-25" alt="...">
      <br><br>
      <h5 class="font-weight-bold">TELÉFONO</h5>
      <p>Llamanos o contactanos por Whatsapp y con gusto te ayudaremos.</p>
      <h6 class="font-weight-bold">Cel: 1167418722</h6>
      <br><br>
    </div>

    <div class="col-md-1"></div>

    <div class="text-center col-md-2">
      <br><br>
      <img src="assets/img/icons/mail2.png" class="w-25" alt="...">
      <br><br>
      <h5 class="font-weight-bold">MAIL</h5>
      <p>Escribinos para consultar lo que sea sobre nuestros productos.</p>
      <h6 class="font-weight-bold">pau_moru@hotmail.com</h6>
      <br><br>
    </div>
  </div>

  <div id=redes class="text-white bg-dark margen-sup margen-inf animated fadeIn fast">

    <div class="text-center col-md-12">
      <hr>
      <h6>Tambien seguinos en las redes</h6>
    </div>

    <div class="row">
      <div class="col-md-5"></div>

      <div class="text-dark text-center col-md-2">

        <a href="https://www.facebook.com/Pura-Vida-115314846548124/">
          <img src="assets/img/redes/facebook.png" class="w-25" alt="...">
        </a>
        ..
        <a href="https://www.instagram.com/pura_vida2020/">
          <img src="assets/img/redes/instagram.png" class="w-25" alt="...">
        </a>
        ..
        <a href={{whatsappURL}} target="_blank">
          <img src="assets/img/redes/whatsapp.png" class="w-25" alt="...">
        </a>

      </div>
    </div>
    <hr>

  </div>

  <!-- <div id=barra-final></div> -->

</div>
