<!-- <div class="bg-secondary container main-container"> -->
<div class="">

  <div id=mapa class="margen-inf row bg-success">
    <img id=img-mapa src="assets/img/varios/imagenMaps.jpg" alt="">
  </div>

  <h2 class="text-center font-weight-bold">CONTACTANOS</h2>

  <div id=barra-contacto class="text-white bg-dark margen-sup margen-inf row animated fadeIn fast">

    <div class="col-md-2"></div>

    <div class="text-center col-md-2">
      <img src="assets/img/icons/location2.png" class="w-25" alt="...">
      <br><br>
      <h5 class="font-weight-bold">UBICACIÓN</h5>
      <p>Podes retirar personalmente el producto o bien se puede pactar el envío.</p>
      <h6 class="font-weight-bold">C.A.B.A Y G.C.B.A</h6>
    </div>

    <div class="col-md-1"></div>

    <div class="text-center col-md-2">
      <img src="assets/img/icons/phone2.png" class="w-25" alt="...">
      <br><br>
      <h5 class="font-weight-bold">TELÉFONO</h5>
      <p>Llamanos o contactanos por Whatsapp y con gusto te ayudaremos.</p>
      <h6 class="font-weight-bold">Cel: 1163535221</h6>
    </div>

    <div class="col-md-1"></div>

    <div class="text-center col-md-2">
      <img src="assets/img/icons/mail2.png" class="w-25" alt="...">
      <br><br>
      <h5 class="font-weight-bold">MAIL</h5>
      <p>Escribinos para consultar lo que sea sobre nuestros productos.</p>
      <h6 class="font-weight-bold">pau_moru@hotmail.com</h6>
    </div>
  </div>

  <div id=barra-redes class="text-white bg-dark margen-sup margen-inf animated fadeIn fast">

    <div class="text-center col-md-12">
      <h6>Tambien seguinos en las redes</h6>
    </div>

    <div class="row">
      <div class="col-md-5"></div>

      <div class="text-dark text-center col-md-2">
        <img src="assets/img/redes/facebook.png" class="w-25" alt="...">
        ..
        <img src="assets/img/redes/instagram.png" class="w-25" alt="...">
        ..
        <img src="assets/img/redes/whatsapp.png" class="w-25" alt="...">
      </div>
    </div>

  </div>

</div>
