<html lang="en">
  <!-- <body class="text-center animated fadeIn fast bg-secondary"> -->
  <!-- <body class="text-center fondofull animated fadeIn fast"
        background="assets/img/fondos/fondo1.jpg"> -->

  <body class="text-center sin-margen animated fadeIn fast"
        background="assets/img/fondos/fondo2.jpg">

    <div class="">

      <br>
      <br>

      <main role="main" class="home-top animated fadeIn fast">

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-5">
            <img src="assets/img/logos/pv2.png" width="180" height="180" alt="">
            <p class="lead">Visitá nuestro store y encontrarás productos de primera calidad. Aprovechá las ofertas y promociones de la temporada '19/'20 que ponemos a tu disposición. </p>
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row animated fadeIn fast">
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <a [routerLink]="['/products']" class="btn btn-dark btn-block">Ver Productos</a>
          </div>
          <div class="col-md-2">
              <a [routerLink]="['/about']" class="btn btn-outline-dark btn-block">Contactanos</a>
          </div>
          <div class="col-md-1"></div>
        </div>

        <br>
        <br>
        <br>

      </main>

    </div>
  </body>
</html>
