<html lang="en">
  <!-- <body class="text-center animated fadeIn fast bg-secondary"> -->
  <!-- <body class="text-center fondofull animated fadeIn fast"
        background="assets/img/fondos/fondo1.jpg"> -->
<!--
  <body class="text-center sin-margen animated fadeIn fast"
        background="assets/img/fondos/fondo2.jpg"> -->

  <body>

    <div>

      <div id=mapa class="">
        <img id=img-mapa src="assets/img/fondos/fondo2.jpg" alt="">
      </div>

      <main role="main" class="text-center home-top animated fadeIn fast">

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-5">
            <img src="assets/img/logos/pv2.png" width="180" height="180" alt="">
            <p class="lead">Visitá nuestro store y encontrarás productos de primera calidad. Aprovechá las ofertas y promociones de la temporada '19/'20 que ponemos a tu disposición. </p>
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row animated fadeIn fast">
          <div class="col-md-6"></div>
          <div class="col-md-3 animated zoomIn fast">
            <a [routerLink]="['/products']" class="btn btn-dark btn-block margenBoton
                                                   animated shake animation-duration-1s
                                                   animation-iteration-count-infinite
                                                   delay-2s">Ver Productos</a>
          </div>
          <div class="col-md-2 animated zoomIn fast">
              <a [routerLink]="['/about']" class="btn btn-outline-dark btn-block margenBoton">Contactanos</a>
          </div>
          <div class="col-md-1"></div>
        </div>

      </main>

    </div>
  </body>
</html>
