<h1>Productos Encontrados</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="productosEncontrados.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados para el producto: "{{termino}}"
    </div>
  </div>
</div>

<div class="card-columns">

  <div *ngFor="let product of productosEncontrados ; let i = index"
  class="card animated fadeIn fast shadow p-3 mb-5 bg-white rounded">
    <img  src="{{product.imgPortada}}" class="card-img-top"
          alt="{{product.nombre}}">
    <div class="card-body">
      <h5 class="card-title">{{product.nombre}}</h5>
      <p class="card-text">{{product.descCorta}}</p>
      <span *ngIf="product.moneda=='peso'" class="badge badge-primary">$ {{product.precio}}</span>
      <span *ngIf="product.moneda=='dolar'" class="badge badge-primary">U$S {{product.precio}}</span>

      <p class="card-text"><small class="text-muted">{{product.temporada}}</small></p>

      <button (click)="verProducto(i)"
        type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>


      <!-- <a [routerLink]="['/productPage',i]" class="btn btn-outline-primary btn-block">Ver mas Link...</a> -->
    </div>
  </div>

</div>
