body{
  padding-bottom: 50px;
}

.main-container{
  padding-top: 20px;
}

.margen-sup{
  padding-top: 10px;
}

.margen-inf{
  padding-bottom: 10px;
}

.home-desc{
  padding-bottom: 0px;
  margin-top: 100px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.home-top{
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.titulo{
  padding-bottom: 0px;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.sin-margen{
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  color: white;
}

.transp {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.center{
  padding: 10px;

}

.logo{
  width: 120px;
}

body{
  background-repeat:no-repeat;
  background-size:cover;
}


#barra-contacto{
  line-height: 100%;   /*esta es la propiedad para el interlineado*/
}

#barra-redes{
  height:100px;
}

#mapa{
  height:150px;
}

#ingresar{
  height:100px;
}

#img-mapa{
  border: 0;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  width: 100%;
  /* width: 1200px; */
}

#fondo-prods{
  height:0px;
}

#img-prods{
  border: 0;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  width: 100%;
  /* width: 1200px; */
}

#redes{
  width: 100%;
}

#barra-final{
  height:100px;
}

#tarjeta{
  background-color:#cccccc;
}

#prods{
  background-color:#999999
}

/* Animaciones */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
